@import './colors';

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.main-wrapper {
  max-width: 800px;
  margin: 0 auto;

  h2 {
    font-size: 20px;
    margin-bottom: 16px;
  }
}

.stepper {
  padding: 24px 26px;
  background-color: #fff;
  
  &__tagline {
    margin-bottom: 10px;
  }

  .input__required {
    color: red;
  }
}